@import '../theme.less';

.itable-toolbar {
  &.section .section-body {
    display: flex;
    align-items: flex-end;
    padding: 0;
  }

  &-search {
    flex: 1;
    overflow: auto;
  }

  &-option {
    flex: 0;
    padding: 10px;
    line-height: 1;
  }

  &-option &-icon {
    font-size: 1.2em;
  }

  &-icon {
    color: #999;
    cursor: pointer;
    transition: 0.2s color;

    &:hover,
    &:active {
      color: @primary-color;
    }
  }
}

.filter-plan {
  display: flex;
  flex-direction: row;
  height: @height-base;

  &-item {
    position: relative;
    min-width: 110px;
    height: 100%;
    padding: 0 10px;
    line-height: 28px;
    box-shadow: 0 2px 5px -2px #e6e6e6;
    cursor: pointer;

    &-active::before {
      position: absolute;
      top: (@height-base - 15) / 2;
      left: 0;
      display: block;
      width: 2px;
      height: 15px;
      background-color: @section-color;
      content: '';
    }
  }
}

.itable-sort {
  display: flex;
  align-items: center;
  cursor: pointer;

  &-title {
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
